<div class="alphaville-card-container">
	<div class="alphaville-card alphaville-card--list" data-o-component="o-card" data-article-id="{{_id}}">
		<div class="alphaville-card__content">
			<div class="alphaville-card__theme">
				<a href="/longroom/topic/{{primaryTag.id}}" class="alphaville-card__tag" data-trackable="theme">{{primaryTag.name}}</a>
			</div>

			<h3 class="alphaville-card__heading">
				<a href="/longroom/content/{{id}}" data-trackable="heading">{{title}}</a>
			</h3>

			<div>
				Author: <a href="/longroom/author/{{user_id}}">{{user.pseudonym}}</a>
			</div>

			<div class="alphaville-card__footer">
				{{> timestamp}}
			</div>
		</div>
	</div>
</div>
