<div class="alphaville-card-container">
	<div class="alphaville-card alphaville-card--list" data-o-component="o-card" data-article-id="{{_id}}">
		<div class="alphaville-card__content">

			<div class="alphaville-card__theme">
				<a href="{{@root/basePath}}/topic/{{primaryTag.id}}" class="alphaville-card__tag" data-trackable="theme">{{primaryTag.name}}</a>
			</div>

			<h3 class="alphaville-card__heading">
				<a href="{{@root/basePath}}/content/{{id}}" data-trackable="heading">{{title}}
				{{#if files}}
				<img class="lr-card__file-icon" src="{{@root/assetsBasePath}}/images/file_extension_icons/generic.png" alt="This post contains document(s)" title="This post contains document(s)">
				{{/if}}
				</a>
			</h3>

			<div class="alphaville-card__author">
				Author: <a href="{{@root/basePath}}/author/{{user_id}}">{{user.pseudonym}}</a>
			</div>

			<div class="alphaville-card__footer">
				{{!-- Comment count will be reintroduced on the stream page once migration is complete --}}
				{{!-- {{> commentcount}} --}}
				{{> timestamp}}
			</div>

			{{#if editAndDelete}}
				<div class="lr-action-container">
					<a href="#" class="lr-action--delete lr-action--button lr-content-delete" data-post-id="{{id}}">Delete</a>
					<a href="{{@root/basePath}}/content/{{id}}/edit" class="lr-action--edit lr-action--button o-buttons o-buttons--primary">Edit</a>
				</div>
			{{/if}}

		</div>
	</div>
</div>

{{#mobileAdAfter}}
	{{> alphaville-ui/ads/templates/longroom_mobile_mpu longroom_mobile_mpu_index=.}}
{{/mobileAdAfter}}

{{#tabletAdAfter}}
	{{> alphaville-ui/ads/templates/longroom_tablet_mpu index=.}}
{{/tabletAdAfter}}
