<div class="o-card o-card--landscape lr-card" data-o-component="o-card" data-article-id="{{id}}">
	<div class="o-card__content">

		<div class="o-card__meta">
			<a href="/longroom/tags/{{primaryTag.id}}" class="o-card__tag" data-trackable="theme">{{primaryTag.name}}</a>
		</div>

		<h3 class="o-card__heading">
			<a href="/longroom/content/{{id}}" data-trackable="heading">{{title}}</a>
		</h3>

		<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{published_at}}">{{published_at}}</time>
	</div>
</div>
