<div class="lr-generic-message"></div>

<div>
	<label class="o-forms-field" for="post-title">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Title
			</span>
		</span>
		<span class="o-forms-title__prompt">This will be the headline of your publication, e.g. Haitong on B&amp;M</span>
		<span class="o-forms-input o-forms-input--text">
			<input type="text" name="post-title" id="post-title" value="{{postTitle}}" />
			<div class="o-forms-input__error"></div>
		</span>
	</label>
</div>

<div class="o-forms lr-forms__file-upload--labels">
	<div class="o-grid-row">
		<div data-o-grid-colspan="6" class="o-forms-field lf-forms__upload-heading">
			<label class="o-forms-title">
				<span class="o-forms-title__main">
					Document source
				</span>
			</label>
			<small class="o-forms-title__prompt">e.g. Haitong Research, Barclays</small>
		</div>

		<div data-o-grid-colspan="6" class="o-forms-field lf-forms__upload-heading">
			<label class="o-forms-title lr-label-with-info">
				<span class="o-forms-title__main">
					Attach document
				</span>
			</label>
			<span class="o-forms-title__prompt">
				Word, Excel and PDF formats - Max 100Mb per document
			</span>
		</div>
	</div>
</div>

<div class="lr-forms__file-upload--container">
	{{#if postFiles}}
		{{#postFiles}}
			<div class="lr-forms__file-upload--group o-forms" data-file-id="{{id}}">
				<div class="o-grid-row">
					<div data-o-grid-colspan="12" class="o-forms-input o-forms-input--text">
						<input type="text" class="o-forms__text lr-forms__file-upload--source" name="post-file-source1" value="{{source}}" />
					</div>
				</div>
				<div class="o-grid-row">
					<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview">
						<img src="{{@root/assetsBasePath}}/images/file_extension_icons/{{iconName}}.png" />
						<span class="lr-forms__file-upload--preview-info">
							{{name}}<br/>
							<a class="lr-forms__file-upload--delete">Delete</a>
						</span>
					</div>
					<div data-o-grid-colspan="12" class="lr-forms__file-upload--error"></div>
				</div>
			</div>
		{{/postFiles}}
	{{else}}
		<div class="lr-forms__file-upload--group o-forms">
			<div class="o-grid-row">
				<div data-o-grid-colspan="6" class="o-forms-input o-forms-input--text">
					<input type="text" class="o-forms__text lr-forms__file-upload--source" name="post-file-source1" value="" />
				</div>
				<div data-o-grid-colspan="6">
					<button type="button" class="o-buttons o-buttons--big lr-forms__file-upload" disabled>
						Choose file
					</button>
					<input type="file" name="post-file" id="post-file1" />
				</div>
			</div>
			<div class="o-grid-row">
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview"></div>
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--error"></div>
			</div>
		</div>
	{{/if}}

	<script type="text/template" class="lr-forms__file-upload--group--template">
		<div class="lr-forms__file-upload--group o-forms">
			<div class="o-grid-row">
				<div data-o-grid-colspan="6" class="o-forms-input o-forms-input--text">
					<input type="text" class="o-forms__text lr-forms__file-upload--source" name="post-file-source1" value="" />
				</div>
				<div data-o-grid-colspan="6">
					<button type="button" class="o-buttons o-buttons--big lr-forms__file-upload" disabled>
						Choose file
					</button>
					<input type="file" name="post-file" id="post-file1" />
				</div>
			</div>
			<div class="o-grid-row">
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview"></div>
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--error"></div>
			</div>
		</div>
	</script>
</div>

<div>
	<div class="lr-forms__action-link lf-forms__attach-more" data-maximum-files="5">
		<button type="button" class="o-buttons o-buttons--primary" disabled>+</button>&nbsp; Attach another document
	</div>
</div>

<div>
	<label class="o-forms-field" for="post-tags">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Topic tags
			</span>
		</span>
		<span class="o-forms-title__prompt">e.g. Markets, Retail</span>
		<span class="o-forms-input o-forms-input--text lr-forms__tags--container">
			<input class="lr-forms__tags--input" type="text" name="post-tags" id="post-tags" value="" />
			<div class="o-forms-input__error"></div>
		</span>
	</label>
	<ul class="lr-forms__tags--list">
		{{#postTags}}
			<li class="lr-forms__tags--tag"><span class="o-buttons">{{name}}</span></li>
		{{/postTags}}
	</ul>
</div>

<div>
	<div class="o-forms-field {{#if isDocumentForm}}o-forms-field--optional{{/if}}">
		<label class="o-forms-title" for="post-summary">
			<span class="o-forms-title__main">
				Discussion summary
			</span>
		</label>
		<span class="o-forms-title__prompt">JPG and PNG images under 5Mb can be added within the discussion summary</span>
	</div>
	<textarea class="o-forms__textarea" name="post-summary" id="post-summary">{{{postSummary}}}</textarea>
	<div class="o-forms__errortext"></div>
</div>
