<div class="lr-generic-message"></div>

<div class="o-forms-group">
	<label class="o-forms-label" for="post-title">Title</label>
	<small class="o-forms-additional-info">this will be the headline of your publication, e.g. Haitong on B&amp;M</small>
	<input type="text" class="o-forms-text" name="post-title" id="post-title" value="{{postTitle}}" />
	<div class="o-forms-errortext"></div>
</div>


<div class="o-forms-group lr-forms__file-upload--labels">
	<div class="o-grid-row">
		<div data-o-grid-colspan="6">
			<label class="o-forms-label">Document source</label>
			<small class="o-forms-additional-info">e.g. Haitong Research, Barclays</small>
		</div>
		<div data-o-grid-colspan="6">
			<label class="o-forms-label lr-label-with-info">
				Attach document
			</label>
			<button class="o-buttons o-overlay-trigger lr-forms__info" data-o-overlay-src="#lr-attach-help-overlay" data-o-overlay-id="lr_attach_help_overlay" data-o-overlay-compact="true" data-o-overlay-arrow-position="top" aria-pressed="false" aria-haspopup="true">?</button>
			<script type="text/template" id="lr-attach-help-overlay">
				<p>The formats we accept are Word, Excel and PDF<br/>
					Size limit per document is 100Mb</p>
			</script>
		</div>
	</div>
</div>

<div class="lr-forms__file-upload--container">
	{{#if postFiles}}
		{{#postFiles}}
			<div class="lr-forms__file-upload--group o-forms-group" data-file-id="{{id}}">
				<div class="o-grid-row">
					<div data-o-grid-colspan="12">
						<input type="text" class="o-forms-text lr-forms__file-upload--source" name="post-file-source1" value="{{source}}" />
					</div>
				</div>
				<div class="o-grid-row">
					<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview">
						<img src="{{@root/assetsBasePath}}/images/file_extension_icons/{{iconName}}.png" />
						<span class="lr-forms__file-upload--preview-info">
							{{name}}<br/>
							<a class="lr-forms__file-upload--delete">Delete</a>
						</span>
					</div>
					<div data-o-grid-colspan="12" class="lr-forms__file-upload--error o-forms-errortext"></div>
				</div>
			</div>
		{{/postFiles}}
	{{else}}
		<div class="lr-forms__file-upload--group o-forms-group">
			<div class="o-grid-row">
				<div data-o-grid-colspan="6">
					<input type="text" class="o-forms-text lr-forms__file-upload--source" name="post-file-source1" value="" />
				</div>
				<div data-o-grid-colspan="6">
					<button type="button" class="o-buttons o-buttons--big lr-forms__file-upload" disabled>
						Choose file
					</button>
					<input type="file" name="post-file" id="post-file1" />
				</div>
			</div>
			<div class="o-grid-row">
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview"></div>
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--error o-forms-errortext"></div>
			</div>
		</div>
	{{/if}}

	<script type="text/template" class="lr-forms__file-upload--group--template">
		<div class="lr-forms__file-upload--group o-forms-group">
			<div class="o-grid-row">
				<div data-o-grid-colspan="6">
					<input type="text" class="o-forms-text lr-forms__file-upload--source" name="post-file-source1" value="" />
				</div>
				<div data-o-grid-colspan="6">
					<button type="button" class="o-buttons o-buttons--big lr-forms__file-upload" disabled>
						Choose file
					</button>
					<input type="file" name="post-file" id="post-file1" />
				</div>
			</div>
			<div class="o-grid-row">
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview"></div>
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--error o-forms-errortext"></div>
			</div>
		</div>
	</script>
</div>

<div class="o-forms-group">
	<div class="lr-forms__action-link" data-maximum-files="5">
		<button type="button" class="o-buttons o-buttons--standout" disabled>+</button>&nbsp; Attach another document
	</div>
</div>

<div class="o-forms-group">
	<label class="o-forms-label" for="post-tags">Topic tags</label>
	<small class="o-forms-additional-info">e.g. Markets, Retail</small>

	<div class="lr-forms__tags--container">
		<input type="text" class="o-forms-text lr-forms__tags--input" name="post-tags" id="post-tags" value="" />
		<ul class="lr-forms__tags--list">
			{{#postTags}}
				<li class="lr-forms__tags--tag"><span class="o-buttons">{{name}}</span></li>
			{{/postTags}}
		</ul>

		<div class="o-forms-errortext"></div>
	</div>
</div>

<div class="o-forms-group">
	{{#if isDocumentForm}}
		<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="hidden" data-o-expander-expanded-toggle-text="Discussion summary" data-o-expander-collapsed-toggle-text="Discussion summary">
			<div>
				<label class="o-forms-label o-expander__toggle o--if-js lr-label-with-info" for="post-summary">Discussion summary</label>
				<button class="o-buttons o-overlay-trigger lr-forms__info" data-o-overlay-src="#lr-summary-help-overlay" data-o-overlay-id="lr-summary-help-overlay" data-o-overlay-compact="true" data-o-overlay-arrow-position="bottom" aria-pressed="false" aria-haspopup="true">?</button>
			</div>
			<div class="o-expander__content">
				<textarea class="o-forms-textarea" name="post-summary" id="post-summary" >{{{postSummary}}}</textarea>
				<div class="o-forms-errortext"></div>
			</div>
		</div>
	{{else}}
		<div>
			<label class="o-forms-label o-expander__toggle o--if-js lr-label-with-info" for="post-summary">Discussion summary</label>
			<button class="o-buttons o-overlay-trigger lr-forms__info" data-o-overlay-src="#lr-summary-help-overlay" data-o-overlay-id="lr-summary-help-overlay" data-o-overlay-compact="true" data-o-overlay-arrow-position="bottom" aria-pressed="false" aria-haspopup="true">?</button>
		</div>

		<textarea class="o-forms-textarea" name="post-summary" id="post-summary" >{{{postSummary}}}</textarea>
		<div class="o-forms-errortext"></div>
	{{/if}}

	<script type="text/template" id="lr-summary-help-overlay">
		<p>jpg and png images under 5MB can be<br/>
		added within the discussion summary</p>
	</script>
</div>
