<div class="lr-generic-message"></div>

<div class="o-forms">
	<label class="o-forms__label" for="post-title">Title</label>
	<small class="o-forms__additional-info">this will be the headline of your publication, e.g. Haitong on B&amp;M</small>
	<input type="text" class="o-forms__text" name="post-title" id="post-title" value="{{postTitle}}" />
	<div class="o-forms__errortext"></div>
</div>


<div class="o-forms lr-forms__file-upload--labels">
	<div class="o-grid-row">
		<div data-o-grid-colspan="6">
			<label class="o-forms__label">Document source</label>
			<small class="o-forms__additional-info">e.g. Haitong Research, Barclays</small>
		</div>
		<div data-o-grid-colspan="6">
			<label class="o-forms__label lr-label-with-info">
				Attach document
			</label>
			<button class="o-buttons lr-forms__info" id="lr-attach-help-tooltip">?</button>
			<div data-o-component="o-tooltip"
			     data-o-tooltip-position="below"
			     data-o-tooltip-target="lr-attach-help-tooltip"
			     data-o-tooltip-toggle-on-click="true"
			     class="lr-tooltip">
				<div class="o-tooltip-content">
					<p>The formats we accept are Word, Excel and PDF<br/>
						Size limit per document is 100Mb</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="lr-forms__file-upload--container">
	{{#if postFiles}}
		{{#postFiles}}
			<div class="lr-forms__file-upload--group o-forms" data-file-id="{{id}}">
				<div class="o-grid-row">
					<div data-o-grid-colspan="12">
						<input type="text" class="o-forms__text lr-forms__file-upload--source" name="post-file-source1" value="{{source}}" />
					</div>
				</div>
				<div class="o-grid-row">
					<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview">
						<img src="{{@root/assetsBasePath}}/images/file_extension_icons/{{iconName}}.png" />
						<span class="lr-forms__file-upload--preview-info">
							{{name}}<br/>
							<a class="lr-forms__file-upload--delete">Delete</a>
						</span>
					</div>
					<div data-o-grid-colspan="12" class="lr-forms__file-upload--error"></div>
				</div>
			</div>
		{{/postFiles}}
	{{else}}
		<div class="lr-forms__file-upload--group o-forms">
			<div class="o-grid-row">
				<div data-o-grid-colspan="6">
					<input type="text" class="o-forms__text lr-forms__file-upload--source" name="post-file-source1" value="" />
				</div>
				<div data-o-grid-colspan="6">
					<button type="button" class="o-buttons o-buttons--big lr-forms__file-upload" disabled>
						Choose file
					</button>
					<input type="file" name="post-file" id="post-file1" />
				</div>
			</div>
			<div class="o-grid-row">
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview"></div>
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--error"></div>
			</div>
		</div>
	{{/if}}

	<script type="text/template" class="lr-forms__file-upload--group--template">
		<div class="lr-forms__file-upload--group o-forms">
			<div class="o-grid-row">
				<div data-o-grid-colspan="6">
					<input type="text" class="o-forms__text lr-forms__file-upload--source" name="post-file-source1" value="" />
				</div>
				<div data-o-grid-colspan="6">
					<button type="button" class="o-buttons o-buttons--big lr-forms__file-upload" disabled>
						Choose file
					</button>
					<input type="file" name="post-file" id="post-file1" />
				</div>
			</div>
			<div class="o-grid-row">
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview"></div>
				<div data-o-grid-colspan="12" class="lr-forms__file-upload--error"></div>
			</div>
		</div>
	</script>
</div>

<div class="o-forms">
	<div class="lr-forms__action-link" data-maximum-files="5">
		<button type="button" class="o-buttons o-buttons--primary" disabled>+</button>&nbsp; Attach another document
	</div>
</div>

<div class="o-forms">
	<label class="o-forms__label" for="post-tags">Topic tags</label>
	<small class="o-forms__additional-info">e.g. Markets, Retail</small>

	<div class="lr-forms__tags--container">
		<input type="text" class="o-forms__text lr-forms__tags--input" name="post-tags" id="post-tags" value="" />
		<ul class="lr-forms__tags--list">
			{{#postTags}}
				<li class="lr-forms__tags--tag"><span class="o-buttons">{{name}}</span></li>
			{{/postTags}}
		</ul>

		<div class="o-forms__errortext"></div>
	</div>
</div>

<div class="o-forms">
	{{#if isDocumentForm}}
		<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="hidden" data-o-expander-expanded-toggle-text="Discussion summary" data-o-expander-collapsed-toggle-text="Discussion summary">
			<div>
				<label class="o-forms__label o-expander__toggle o--if-js lr-label-with-info" for="post-summary">Discussion summary</label>
				<button class="o-buttons lr-forms__info" id="lr-summary-help-tooltip">?</button>
			</div>
			<div class="{{#unless postSummary}}o-expander__content{{/unless}}">
				<textarea class="o-forms__textarea" name="post-summary" id="post-summary" >{{{postSummary}}}</textarea>
				<div class="o-forms__errortext"></div>
			</div>
		</div>
	{{else}}
		<div>
			<label class="o-forms__label o-expander__toggle o--if-js lr-label-with-info" for="post-summary">Discussion summary</label>
			<button class="o-buttons lr-forms__info" id="lr-summary-help-tooltip">?</button>
		</div>

		<textarea class="o-forms__textarea" name="post-summary" id="post-summary" >{{{postSummary}}}</textarea>
		<div class="o-forms__errortext"></div>
	{{/if}}

	<div data-o-component="o-tooltip"
	     data-o-tooltip-position="below"
	     data-o-tooltip-target="lr-summary-help-tooltip"
	     data-o-tooltip-toggle-on-click="true"
	     class="lr-tooltip">
		<div class="o-tooltip-content">
			<p>JPG and PNG images under 5Mb can be<br/>
				added within the discussion summary</p>
		</div>
	</div>
</div>
