<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<div class="lr-banner"><img src="{{@root/assetsBasePath}}/images/banner/members.jpg" width="100%"></div>
			<div class="lr-navbar clearfix">
				<div class="o-grid-row">
					<div class="lr-navbar--title" data-o-grid-colspan="hide M3 L4">
						<span>Contribute to the&nbsp;</span><a href="/longroom/home">Long Room</a>
					</div>

					<div class="lr-navbar--cta" data-o-grid-colspan="hide M5 L4">
						<a href="{{basePath}}/content/upload-document" class="o-buttons {{#if isDocumentForm}}lr-cta--active{{/if}} o--if-js"><i class="lr-icon--upload"></i> Upload a document</a>
						<a href="{{basePath}}/content/write-post" class="o-buttons {{#if isPostForm}}lr-cta--active{{/if}} o--if-js"><i class="lr-icon--written-text"></i> Write a post</a>
					</div>

					<div class="lr-navbar--nav" data-o-grid-colspan="12 M4 L4">
						<ul>
							<li><a href="/longroom/faq">FAQs</a></li>
							<li><a href="/longroom/house-rules">House Rules</a></li>
							<li class="lr-edit-my-posts"><a href="/longroom/dashboard">Dashboard</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{#flashMessage}}
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<div class="lr-message lr-message-{{type}}">
				{{msg}}
			</div>
		</div>
	</div>
	{{/flashMessage}}

	<div class="o-grid-row">
		<div data-o-grid-colspan="12 L8">
			{{> @partial-block }}
		</div>

		<div data-o-grid-colspan="12 L4">
			<div class="lr-sidebar">
				{{> alphaville-ui/ads/templates/dmpu_desktop}}
				{{> overheard}}
			</div>
		</div>
	</div>
</div>
