{{#if overheardVisible}}
	{{#> alphaville-ui/content-box/main title='Overheard in the Long Room'}}
		{{#overheardData}}
			<div class="lr-overheard--item">
				<div>
					<span class="lr-overheard--pseudonym">{{displayName}}</span> on <span class="lr-overheard--title"><a href="{{@root/appUrl}}/content/{{articleId}}">{{title}}</a></span>
				</div>

				<div class="lr-overheard--comment">Comment: <a href="{{@root/appUrl}}/content/{{articleId}}#comments">{{bodyHtml}}</a></div>
			</div>
		{{/overheardData}}
	{{/ alphaville-ui/content-box/main}}
{{/if}}
