{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
	<link rel="canonical" href="{{canonicalUrl}}" />
{{#useCoralTalk}}
	<script>
		window.commentsUseCoralTalk = true;
	</script>
{{/useCoralTalk}}
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 L11 Loffset1">
			{{#article}}
				<article class="lr-post alphaville-card-container">
					<div class="alphaville-card alphaville-card--list" data-article-id="{{_id}}">
						<div class="alphaville-card__content">
							{{#if @root/editAndDelete}}
								<div class="lr-action-container">
									<a href="#" class="lr-action--delete lr-action--button lr-content-delete" data-post-id="{{id}}">Delete</a>
									<a href="/longroom/content/{{id}}/edit" class="lr-action--edit lr-action--button o-buttons o-buttons--primary">Edit</a>
								</div>
							{{/if}}

							<div class="alphaville-card__theme">
								{{#tags}}
									<a href="/longroom/topic/{{id}}" class="alphaville-card__tag" data-trackable="theme">{{name}}</a>&nbsp;
								{{/tags}}
							</div>

							<h3 class="alphaville-card__heading">
								{{title}}
							</h3>

							<div class="alphaville-card__footer">
								{{> timestamp}}
							</div>

							<div class="alphaville-card__author">
								Author: <a href="/longroom/author/{{user_id}}">{{user.pseudonym}}</a>{{#if user_summary}} - {{user_summary}}{{/if}}
							</div>

							<div class="alphaville-card__standfirst lr-post-body">
								{{{summary}}}

								<div>
									{{> alphaville-ui/ads/templates/longroom_tablet_mpu index=1}}
								</div>

								<div class="alphaville-in-article-ad1">
									{{> alphaville-ui/ads/templates/longroom_mobile_mpu longroom_mobile_mpu_index=1}}
								</div>

								<div class="alphaville-in-article-ad2">
									{{> alphaville-ui/ads/templates/longroom_mobile_mpu longroom_mobile_mpu_index=2}}
								</div>
							</div>

							{{#files}}
								<div class="lr-post--files">
									<a href="{{@root/basePath}}/files/{{name}}" target="_blank" download>
										<img class="lr-card__file-icon" src="{{@root/assetsBasePath}}/images/file_extension_icons/{{iconName}}.png" align="left">
										<span class="lr-post--file-source">
											{{#if fileNameVisible}}
											<span>Source:</span> {{source}}<br>
											{{/if}}
											<span>Filename:</span> {{name}}</span>
										</span>
								</div>
							{{/files}}

						</div>
					</div>
				</article>
			{{/article}}

			<footer class="n-content-copyright">
				<small>
					<a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright">Copyright</a> The Financial Times Limited {{@root/copyrightYear}}. All rights reserved. You may share using our article tools. Please don't cut articles from FT.com and redistribute by email or post to the web.
				</small>
			</footer>

			{{> alphaville-ui/share/main alphavilleUiShareData}}

			{{#if useCoralTalk}}
				<a name="comments"></a>
				<div class="o-comments"
					id="comments"
					data-o-component="o-comments"
					data-o-comments-article-id="{{article.id}}"
					data-o-comments-article-url="https://ftalphaville.ft.com/longroom/content/{{article.id}}">
				</div>
			{{else}}
				<a name="comments"></a>
				<div id="comments"
					data-o-component="o-comments"
					data-o-comments-config-title="{{article.title}}"
					data-o-comments-config-url="{{article.webUrl}}"
					data-o-comments-config-articleId="longroom{{article.id}}">
				</div>
			{{/if}}
		</div>
	</div>
{{/lr_layout}}
