{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
	{{#article}}
		<div class="o-card o-card--landscape lr-card" data-o-component="o-card" data-article-id="{{id}}">
			<div class="o-card__content">

				<div class="o-card__meta">
					<a href="/longroom/tags/{{primaryTag.id}}" class="o-card__tag" data-trackable="theme">{{primaryTag.name}}</a>
				</div>

				<h3 class="o-card__heading">
					{{title}}
				</h3>

				<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{published_at}}">{{published_at}}</time>

				<p>Author:</p>

				{{{summary}}}

				<div class="o-grid-row">
					{{#files}}
						<div data-o-grid-colspan="4">
							<img class="lr-card__file-icon" src="{{@root/assetsBasePath}}/images/file_extension_icons/{{iconName}}.png">
							<div>{{name}}</div>
						</div>
					{{/files}}
				</div>
			</div>
		</div>
	{{/article}}

	{{> alphaville-ui/share/main position='bottom'}}


	<a name="comments"></a>
	<div data-o-component="o-comments" data-o-comments-config-title="{{article.title}}" data-o-comments-config-url="{{@root/appUrl}}/{{article.webUrl}}" data-o-comments-config-articleId="longroom{{article.id}}"></div>
{{/lr_layout}}
