{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
<div class="o-grid-row">
	<div data-o-grid-colspan="12 M11 XL10 XLoffset2">
		<form action="{{basePath}}/create" method="POST" class="longroom-create-post" data-lr-post-type="{{postType}}">
			<div class="lr-generic-message"></div>
			<div class="o-forms-group">
				<label class="o-forms-label" for="post-title">Title - <span class="lr-forms__small-label">this will be the headline of your publication, e.g. Haitong on B&amp;M<span></label>
				<input type="text" class="o-forms-text o-forms-text--small" name="post-title" id="post-title" value="" />
				<div class="o-forms-errortext"></div>
			</div>

		
			<div class="o-forms-group lr-forms__file-upload--labels">
				<div class="o-grid-row">
					<div data-o-grid-colspan="6">
						<label class="o-forms-label">Document source - <span class="lr-forms__small-label">e.g. Haitong Research, Barclays</span></label>
					</div>
					<div data-o-grid-colspan="6">
						<label class="o-forms-label lr-label-with-info">
							Attach document
						</label>
						<button class="o-buttons o-overlay-trigger lr-forms__attach-doc-info" data-o-overlay-src="#lr-attach-help-overlay" data-o-overlay-id="lr_attach_help_overlay" data-o-overlay-compact="true" data-o-overlay-arrow-position="top" aria-pressed="false" aria-haspopup="true">?</button>
						<script type="text/template" id="lr-attach-help-overlay">
							<p>The formats we accept are Word, Excel and PDF<br/>
								Size limit per document is 100Mb</p>
						</script>
					</div>
				</div>
			</div>

			<div class="lr-forms__file-upload--container">
				<div class="lr-forms__file-upload--group o-forms-group">
					<div class="o-grid-row">
						<div data-o-grid-colspan="6">
							<input type="text" class="o-forms-text o-forms-text--small lr-forms__file-upload--source" name="post-file-source1" value="" />
						</div>
						<div data-o-grid-colspan="6">
							<button type="button" class="o-buttons lr-forms__file-upload" disabled>
								Choose file
							</button>
							<input type="file" name="post-file" id="post-file1" />
						</div>
					</div>
					<div class="o-grid-row">
						<div data-o-grid-colspan="12" class="lr-forms__file-upload--preview"></div>
						<div data-o-grid-colspan="12" class="lr-forms__file-upload--error o-forms-errortext"></div>
					</div>
				</div>
			</div>

			<div class="o-forms-group">
				<div class="lr-forms__action-link" data-maximum-files="5">
					<button type="button" class="o-buttons o-buttons--standout" disabled>+</button> Attach another document
				</div>
			</div>

			<div class="o-forms-group">
				<label class="o-forms-label" for="post-tags">Topic tags - <span class="lr-forms__small-label">e.g. Markets, Retail</span></label>

				<div class="lr-forms__tags--container">
					<input type="text" class="o-forms-text o-forms-text--small lr-forms__tags--input" name="post-tags" id="post-tags" value="" />
					<div class="o-forms-errortext"></div>
				</div>
			</div>

			<div class="o-forms-group">
				{{#if isDocumentForm}}
					<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="hidden" data-o-expander-expanded-toggle-text="Discussion summary" data-o-expander-collapsed-toggle-text="Discussion summary">
						<label class="o-forms-label o-expander__toggle o--if-js" for="post-summary">Discussion summary</label>
						<div class="o-expander__content">
							<textarea class="o-forms-textarea" name="post-summary" id="post-summary" ></textarea>
							<div class="o-forms-errortext"></div>
						</div>
					</div>
				{{else}}
					<label class="o-forms-label o-expander__toggle o--if-js" for="post-summary">Discussion summary</label>
					<textarea class="o-forms-textarea" name="post-summary" id="post-summary" ></textarea>
					<div class="o-forms-errortext"></div>
				{{/if}}
			</div>

			<div class="o-forms-group">
				<p>
					<small>By publishing this post I confirm that I have read and agreed to the <a href="http://www.ft.com/servicestools/help/terms">FT Terms and Conditions</a></small>
				</p>

				<button type="button" class="o-buttons" name="post-draft">Save Draft</button>
				<button type="submit" class="o-buttons o-buttons--standout" name="post-publish">Publish</button>
			</div>
		</form>
	</div>
</div>
{{/lr_layout}}
