{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBowerBasePath}}/tinymce/tinymce.min.js",
				async: true
			});

			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
<div class="o-grid-row">
	<div data-o-grid-colspan="12 M11 XL10 XLoffset2">
		<form action="{{basePath}}/content/{{postId}}/edit" method="POST" class="longroom-create-post" data-lr-post-type="{{postType}}">
			{{> content_form}}

			<div class="o-forms-group">
				<a class="lr-link--cancel" href="javascript:window.history.back()">Cancel</a>
				{{#if postDraft}}
					<button type="button" class="o-buttons" name="post-draft">Save Draft</button>
				{{/if}}
				<button type="submit" class="o-buttons o-buttons--standout" name="post-publish">Publish</button>
			</div>
		</form>
	</div>
</div>
{{/lr_layout}}
