{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBowerBasePath}}/tinymce/tinymce.min.js",
				async: true
			});

			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
<div class="o-grid-row">
	<div data-o-grid-colspan="12 M11 XL10 XLoffset2" class="lr-form lr-content-form">
		<form action="{{basePath}}/content/{{postId}}/edit" method="POST" class="longroom-create-post" data-lr-post-type="{{postType}}" data-trackable="edit-post">
			{{> content_form}}
			<div class="o-forms lr-content-form-cta">
				<p>
					<small>By publishing this post I confirm that I have read and agreed to the <a href="http://www.ft.com/servicestools/help/terms">FT Terms and Conditions</a></small>
				</p>
				<a class="lr-link--cancel" href="javascript:window.history.back()">Cancel</a>
				{{#if postDraft}}
					<button type="button" class="o-buttons o-buttons--big" name="post-draft">Save Draft</button>
				{{/if}}
				<button type="submit" class="o-buttons o-buttons--big o-buttons--primary" name="post-publish" data-trackable="publish">Publish</button>
			</div>
		</form>
	</div>
</div>
{{/lr_layout}}
