{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="8">
			<h1>{{ title }}</h1>
			<p>Welcome to {{ title }}</p>
		</div>
		<div data-o-grid-colspan="4" class="lr-home-create-col">
			<a href="{{appBasePath}}/create" class="o-buttons">Create new discussion</a>
		</div>
	</div>

	<div class="o-grid-row">
	</div>
</div>
