
{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout_non_member }}
	<h1>{{ h1 }}</h1>
	<form action="{{basePath}}/user/join" method="POST" enctype="application/x-www-form-urlencoded" class="lr-join-form">
			<div data-o-grid-colspan="9">
				<label class="o-forms-field" for="email">
					<span class="o-forms-title">
						<span class="o-forms-title__main">Email</span>
					</span>
					
					<span class="o-forms-input o-forms-input--text">
						<input type="text" name="email" value="{{user.email}}" disabled />
					</span>
				</label>
			</div>


			<div data-o-grid-colspan="9">
				<label class="o-forms-field" for="firstName">
					<span class="o-forms-title">
						<span class="o-forms-title__main">First Name</span>
					</span>
					
					<span class="o-forms-input o-forms-input--text">
						<input type="text" name="firstName" value="{{user.firstName}}" disabled />
					</span>
				</label>
			</div>

			<div data-o-grid-colspan="9">
				<label class="o-forms-field" for="lastName">
					<span class="o-forms-title">
						<span class="o-forms-title__main">Last Name</span>
					</span>
					
					<span class="o-forms-input o-forms-input--text">
						<input type="text" name="lastName" value="{{user.lastName}}" disabled />
					</span>
				</label>
			</div>

			{{#if errors.pseudonym}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="pseudonym">
						<span class="o-forms-title">
							<span class="o-forms-title__main">Display name *</span>
							<span class="o-forms-title__prompt">
								This will be used for comments and posts. If you change your display name on FT.com or the app, it will be reflected in Longroom.
							</span>
						</span>

						<span class="o-forms-input o-forms-input--text o-forms-input--invalid">
							<input required type="text" name="pseudonym" value="{{pseudonym}}" />
							{{#each errors.pseudonym}}
								<div class="o-forms-input__error">{{this}}</div>
							{{/each}}
						</span>
					</label>
				</div>
			{{else}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="pseudonym">
						<span class="o-forms-title">
							<span class="o-forms-title__main">Display name *</span>
							<span class="o-forms-title__prompt">
								This will be used for comments and posts. If you change your display name on FT.com or the app, it will be reflected in Longroom.
							</span>
						</span>

						<span class="o-forms-input o-forms-input--text">
							{{#if pseudonym}}
								<input type="text" name="pseudonym" value="{{pseudonym}}" disabled />
								<input type="hidden" name="pseudonym" value="{{pseudonym}}" />
							{{else}}
								<input required type="text" name="pseudonym" value="{{pseudonym}}" />
							{{/if}}
						</span>
					</label>
				</div>
			{{/if}}

			<div data-o-grid-colspan="9">
				<label class="o-forms-field" for="jobTitle">
					<span class="o-forms-title">
						<span class="o-forms-title__main">Job Title</span>
					</span>
					
					<span class="o-forms-input o-forms-input--text">
						<input type="text" name="jobTitle" value="{{user.demographics.position.description}}" disabled />
					</span>
				</label>
			</div>

			<div data-o-grid-colspan="9">
				<label class="o-forms-field" for="industry">
					<span class="o-forms-title">
						<span class="o-forms-title__main">Industry</span>
					</span>
					
					<span class="o-forms-input o-forms-input--text">
						<input type="text" name="industry" value="{{user.demographics.industry.description}}" disabled />
					</span>
				</label>
			</div>

			<div data-o-grid-colspan="9">
				<label class="o-forms-field" for="phone">
					<span class="o-forms-title">
						<span class="o-forms-title__main">Daytime Phone Number</span>
					</span>
					
					<span class="o-forms-input o-forms-input--text">
						<input type="text" name="phone" value="{{user.primaryTelephone}}" disabled />
					</span>
				</label>
			</div>

			{{#if errors.location}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="location">
						<span class="o-forms-title">
							<span class="o-forms-title__main">Location *</span>
						</span>

						<span class="o-forms-input o-forms-input--text o-forms-input--invalid">
							<input required type="text" name="location" value="{{form.location}}" />
							{{#each errors.location}}
								<div class="o-forms-input__error">{{this}}</div>
							{{/each}}
						</span>
					</label>
				</div>
			{{else}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="location">
						<span class="o-forms-title">
							<span class="o-forms-title__main">Location *</span>
						</span>

						<span class="o-forms-input o-forms-input--text">
							<input required type="text" name="location" value="{{form.location}}" />
						</span>
					</label>
				</div>
			{{/if}}
			{{#if errors.description}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="description">
						<span class="o-forms-title">
							<span class="o-forms-title__main">About you *</span>
						</span>

						<span class="o-forms-input o-forms-input--text o-forms-input--invalid">
							<textarea required type="text" name="description">{{form.description}}</textarea>
							{{#each errors.description}}
								<div class="o-forms-input__error">{{this}}</div>
							{{/each}}
						</span>
					</label>
				</div>
			{{else}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="description">
						<span class="o-forms-title">
							<span class="o-forms-title__main">About you *</span>
						</span>
						
						<span class="o-forms-input o-forms-input--textarea">
							<textarea type="text" name="description">{{form.description}}</textarea>
						</span>
					</label>
				</div>
			{{/if}}
			{{#if errors.summary}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="summary">
						<span class="o-forms-title">
							<span class="o-forms-title__main">My biography *</span>
						</span>
						<span class="o-forms-input o-forms-input--textarea o-forms-input--invalid">
							<textarea required type="text" name="summary">{{form.summary}}</textarea>
							{{#each errors.summary}}
								<div class="o-forms-input__error">{{this}}</div>
							{{/each}}
						</span>
					</label>
				</div>
			{{else}}
				<div data-o-grid-colspan="9">
					<label class="o-forms-field" for="summary">
						<span class="o-forms-title">
							<span class="o-forms-title__main">My biography *</span>
						</span>

						<span class="o-forms-input o-forms-input--textarea">
							<textarea required type="text" name="summary">{{form.summary}}</textarea>
						</span>
					</label>
				</div>
			{{/if}}
			<div class="o-forms" data-o-grid-colspan="9">
				<button class="o-buttons o-buttons--big o-buttons--primary" name="join">Join Long Room</button>
			</div>
	</form>
{{/lr_layout_non_member}}
