{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout_non_member }}
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M11 XL10 XLoffset2" class="lr-form lr-pseudonym-form">

		<h1 class="lr-page-heading">Set a display name</h1>

			<form action="{{basePath}}/user/setpseudonym?redirect={{redirect}}" method="POST" class="o-forms">
				<p>As a Long Room member, you need a public display name -- and you don't seem to have one.</p>
				<p>Make up a name for yourself below and then just click save.</p>


				<label class="o-forms-field">
					<span class="o-forms-title">
						<span class="o-forms-title__main">Display name</span>
					</span>

					<span class="o-forms-input o-forms-input--text {{#validation}}o-forms-input--invalid{{/validation}}">
						<input type="text" name="pseudonym" id="pseudonym" value="{{pseudonym}}">
						{{#validation}}
							<span class="o-forms-input__error">{{{pseudonym}}}</span>
						{{/validation}}
					</span>

				</label>

				<button type="submit" class="o-buttons o-buttons--big o-buttons--primary">Save</button>
			</form>
		</div>
	</div>
{{/lr_layout_non_member}}
