{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout_non_member }}
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M11 XL10 XLoffset2" class="lr-form lr-pseudonym-form">

		<h1 class="lr-page-heading">Set a pseudonym</h1>

			<form action="{{basePath}}/user/setpseudonym?redirect={{redirect}}" method="POST">
				<p>As a Long Room member, you need a public pseudonym -- and you don't seem to have one.</p>
				<p>Make up a name for yourself below and then just click save.</p>

				<div class="o-forms__group">
					<label class="o-forms__label" for="pseudonym">Pseudonym</label>
					<input type="text" class="o-forms__text" name="pseudonym" id="pseudonym" value="{{pseudonym}}" />
					{{#validation}}<div class="o-forms-errortext">{{{pseudonym}}}</div>{{/validation}}
				</div>

				<div class="o-forms__group">
					<button type="submit" class="o-buttons o-buttons--big o-buttons--standout">Save</button>
				</div>
			</form>
		</div>
	</div>
{{/lr_layout_non_member}}
